body {
  background: #f6f6f6;
}

.mainWrapper {
  max-width: 1250;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.info > div:nth-child(1) {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #2c303d;
  text-transform: uppercase;
  height: 15%;
}

.itemNumber {
  font-size: 10px;
  color: #7d7f85;
  font-weight: bold;
  height: 10%;
}

.shapeImg {
  width: 80%;
}

.mobileTitle {
  display: none;
}

.socialIconsLG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 15%;
  height: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icons {
  border-radius: 50%;
  border: 2px solid #2c87ce;
  padding: 15px;
  height: 15px;
  width: 15px;
  margin-right: 15px;
}

.socialIcons {
  display: none;
}

.prices {
  font-size: 24px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.prices > span:nth-child(1) {
  color: #2c303d;
  text-decoration: line-through;
}

.prices > span:nth-child(2) {
  color: #ce2c52;
  margin-left: 20px;
}

.rating {
  max-width: 43%;
  margin-top: 20px;
}

.rating > span:nth-child(11) {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #2c87ce;
  margin-left: 10px;
}

.fa-star {
  color: #ababab;
}

.checked {
  color: #ce2c52;
}

.descriptionOfStock {
  margin-top: 10px;
  width: 70%;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.shareButton {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #2c87ce;
  margin-left: 10px;
  cursor: pointer;
}

.sizeProp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  height: 50%;
}

.sizeProp > div:nth-child(1) {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #2c303d;
}

.sizesWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sizesWrapper > div:nth-child(1) {
  font-family: "Open Sans", sans-serif;
  margin-left: 40px;
  background: white;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  border: 1px solid #cccccc;
  text-align: center;
  color: #2c303d;
  font-size: 14px;
  font-weight: bold;
}

.sizes {
  font-family: "Open Sans", sans-serif;
  margin-left: 10px;
  background: white;
  padding: 10px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  text-align: center;
  color: #2c303d;
  font-size: 14px;
  font-weight: bold;
}

.textProp > div:nth-child(1) {
  margin-top: 50px;
}

.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 25px;
}

.colors > div:nth-child(1) {
  margin-left: 40px;
  background: #77d8e7;
  padding: 20px;
  border-radius: 50%;
}

.colors > div:nth-child(2) {
  background: #96c795;
}

.colors > div:nth-child(3) {
  background: #ce92a1;
}

.colors > div:nth-child(4) {
  background: #aa93cf;
}

.colorsWrapper {
  margin-left: 15px;
  border-radius: 50%;
  padding: 20px;
}

.addShadow {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
}

.btnWrapper {
  margin-top: 10px;
}

.btnAddToCart {
  font-family: "Open Sans", sans-serif;
  background: #8ae6cf;
  color: #2c303d;
  border-radius: 30px;
  border: none;
  padding: 10px 40px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}

.titleWrapper {
  color: #2c303d;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 22px;
}

.main {
  width: 100%;
}

.gridContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imageWrapper {
  width: 33.3%;
}

.imageTitles {
  width: 65%;
  font-family: "Open Sans", sans-serif;
  color: #282828;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  height: 40px;
}

.price {
  position: absolute;
  background: #8ae6cf;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.price > span:nth-child(1) {
  text-decoration: line-through;
}

.price > span:nth-child(2) {
  color: #ce2c52;
}

.priceTablet {
  display: none;
}

.btn-left,
.btn-right {
  display: none;
}

@media only screen and (max-width: 852px) {
  .descriptionOfStock {
    width: 95%;
  }
  .sizeProp {
    margin-top: 10px;
  }
  .imageTitles {
    width: 100%;
    font-size: 16px;
  }
  .textProp > div:nth-child(1) {
    margin-top: 35px;
  }
  .socialIconsLG {
    display: none;
  }
  .colors {
    margin-top: 15px;
  }
  .titleWrapper {
    text-align: center;
  }
  .btnWrapper {
    margin-top: 20px;
  }
  .imageWrapper {
    width: 50%;
  }
  .hoodies {
    width: 95%;
    position: relative;
  }
  .shareButton,
  .info > div:nth-child(1) {
    display: none;
  }
  .shapeImg {
    width: 90%;
  }
  .mobileTitle {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color: #2c303d;
    text-transform: uppercase;
    display: inline-block;
    margin: 20 0 25px;
    width: 60%;
  }
  .price {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  body {
    margin: 0;
  }
  .mainWrapper {
    width: 100%;
  }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .mobileTitle {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    color: #2c303d;
    text-transform: uppercase;
    width: 70%;
    margin: 20 0 25 40px;
  }
  .shapeImg {
    width: 100%;
  }
  .imageWrapper {
    width: auto;
  }
  .gridContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .imageWrapper:not(:first-child) {
    display: none;
  }
  .prices {
    font-size: 36px;
  }
  .descriptionOfStock {
    font-size: 14px;
    width: 100%;
  }
  .info {
    margin-top: 10px;
    margin-left: 40px;
    width: 80%;
  }
  .itemNumber {
    font-size: 12px;
  }
  .btnWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .textProp > div:nth-child(1) {
    margin-top: 20px;
  }
  .colorsWrapper {
    padding: 15px;
  }
  .colors > div:nth-child(1) {
    padding: 15px;
  }
  .sizes {
    padding: 5px;
  }
  .sizesWrapper > div:nth-child(1) {
    padding: 5px;
  }
  .arrowWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn-left,
  .btn-right {
    position: absolute;
    cursor: pointer;
    display: inline-block;
  }
  .btn-left {
    left: 5px;
  }
  .btn-right {
    right: 15px;
  }
  .socialIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
  }
  .icons {
    border-radius: 50%;
    border: 2px solid #2c87ce;
    padding: 10px;
    height: 10px;
    width: 10px;
    margin-right: 15px;
  }
}
/*# sourceMappingURL=styly.css.map */