$margin10: 10px;
$size24: 24px;
$darkBlue: #2c303d;
$red: #ce2c52;
$fontSans: "Open Sans", sans-serif;
$textBold: bold;

body {
  background: #f6f6f6;
}

.mainWrapper {
  max-width: 1250;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: row;
}

// title, item number & shape img
.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.info > div:nth-child(1) {
  font-family: "Oswald", sans-serif;
  font-size: $size24;
  color: $darkBlue;
  text-transform: uppercase;
  height: 15%;
}
.itemNumber {
  font-size: 10px;
  color: #7d7f85;
  font-weight: $textBold;
  height: 10%;
}
.shapeImg {
  width: 80%;
}
.mobileTitle {
  display: none;
}
.socialIconsLG {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 15%;
  height: 10%;
  align-items: center;
  background: white;
  position: absolute;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.icons {
  border-radius: 50%;
  border: 2px solid #2c87ce;
  padding: 15px;
  height: 15px;
  width: 15px;
  margin-right: 15px;
}
.socialIcons {
  display: none;
}

// rating, prices & description
.prices {
  font-size: $size24;
  font-weight: $textBold;
  font-family: $fontSans;
}
.prices > span:nth-child(1) {
  color: $darkBlue;
  text-decoration: line-through;
}
.prices > span:nth-child(2) {
  color: $red;
  margin-left: 20px;
}
.rating {
  max-width: 43%;
  margin-top: 20px;
}
.rating > span:nth-child(11) {
  font-family: $fontSans;
  font-size: 18px;
  font-weight: $textBold;
  color: #2c87ce;
  margin-left: 10px;
}
.fa-star {
  color: #ababab;
}
.checked {
  color: $red;
}
.descriptionOfStock {
  margin-top: $margin10;
  width: 70%;
  font-family: $fontSans;
  font-size: 12px;
}
.shareButton {
  font-family: $fontSans;
  font-size: 18px;
  font-weight: $textBold;
  color: #2c87ce;
  margin-left: 10px;
  cursor: pointer;
}

// sizes
.sizeProp {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 50%;
}

.sizeProp > div:nth-child(1) {
  margin-top: $margin10;
  font-family: $fontSans;
  font-size: 14px;
  font-weight: $textBold;
  color: $darkBlue;
}
.sizesWrapper {
  display: flex;
  flex-direction: row;
}
.sizesWrapper > div:nth-child(1) {
  font-family: $fontSans;
  margin-left: 40px;
  background: white;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  border: 1px solid #cccccc;
  text-align: center;
  color: $darkBlue;
  font-size: 14px;
  font-weight: $textBold;
}
.sizes {
  font-family: $fontSans;
  margin-left: $margin10;
  background: white;
  padding: 10px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  text-align: center;
  color: $darkBlue;
  font-size: 14px;
  font-weight: $textBold;
}
.textProp > div:nth-child(1) {
  margin-top: 50px;
}

// colors
.colors {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.colors > div:nth-child(1) {
  margin-left: 40px;
  background: #77d8e7;
  padding: 20px;
  border-radius: 50%;
}
.colors > div:nth-child(2) {
  background: #96c795;
}
.colors > div:nth-child(3) {
  background: #ce92a1;
}
.colors > div:nth-child(4) {
  background: #aa93cf;
}
.colorsWrapper {
  margin-left: 15px;
  border-radius: 50%;
  padding: 20px;
}
.addShadow {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7);
}

// Add to cart button
.btnWrapper {
  margin-top: $margin10;
}
.btnAddToCart {
  font-family: $fontSans;
  background: #8ae6cf;
  color: $darkBlue;
  border-radius: 30px;
  border: none;
  padding: 10px 40px;
  font-weight: $textBold;
  text-align: center;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}

// Grid
.titleWrapper {
  color: $darkBlue;
  font-family: $fontSans;
  text-transform: uppercase;
  font-weight: $textBold;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 22px;
}
.main {
  width: 100%;
}
.gridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.imageWrapper {
  width: 33.3%;
}
.imageTitles {
  width: 65%;
  font-family: $fontSans;
  color: #282828;
  font-weight: $textBold;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin-top: $margin10;
  height: 40px;
}
.price {
  position: absolute;
  background: #8ae6cf;
  font-weight: $textBold;
  font-family: $fontSans;
}
.price > span:nth-child(1) {
  text-decoration: line-through;
}
.price > span:nth-child(2) {
  color: $red;
}
.priceTablet {
  display: none;
}
.btn-left,
.btn-right {
  display: none;
}

// responsivity tablet
@media only screen and (max-width: 852px) {
  .descriptionOfStock {
    width: 95%;
  }
  .sizeProp {
    margin-top: $margin10;
  }
  .imageTitles {
    width: 100%;
    font-size: 16px;
  }
  .textProp > div:nth-child(1) {
    margin-top: 35px;
  }
  .socialIconsLG {
    display: none;
  }
  .colors {
    margin-top: 15px;
  }
  .titleWrapper {
    text-align: center;
  }
  .btnWrapper {
    margin-top: 20px;
  }
  .imageWrapper {
    width: 50%;
  }
  .hoodies {
    width: 95%;
    position: relative;
  }
  .shareButton,
  .info > div:nth-child(1) {
    display: none;
  }
  .shapeImg {
    width: 90%;
  }
  .mobileTitle {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: $size24;
    color: $darkBlue;
    text-transform: uppercase;
    display: inline-block;
    margin: 20 0 25px;
    width: 60%;
  }
  .price {
    display: none;
  }
}

// responsivity mobile
@media only screen and (max-width: 640px) {
  body {
    margin: 0;
  }
  .mainWrapper {
    width: 100%;
  }
  .wrapper {
    flex-direction: column;
    width: 100%;
  }
  .mobileTitle {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    color: $darkBlue;
    text-transform: uppercase;
    width: 70%;
    margin: 20 0 25 40px;
  }
  .shapeImg {
    width: 100%;
  }
  .imageWrapper {
    width: auto;
  }
  .gridContainer {
    justify-content: center;
  }
  .imageWrapper:not(:first-child) {
    display: none;
  }
  .prices {
    font-size: 36px;
  }
  .descriptionOfStock {
    font-size: 14px;
    width: 100%;
  }
  .info {
    margin-top: $margin10;
    margin-left: 40px;
    width: 80%;
  }
  .itemNumber {
    font-size: 12px;
  }
  .btnWrapper {
    display: flex;
    justify-content: center;
  }
  .textProp > div:nth-child(1) {
    margin-top: 20px;
  }
  .colorsWrapper {
    padding: 15px;
  }
  .colors > div:nth-child(1) {
    padding: 15px;
  }
  .sizes {
    padding: 5px;
  }
  .sizesWrapper > div:nth-child(1) {
    padding: 5px;
  }
  .arrowWrapper {
    display: flex;
    align-items: center;
  }
  .btn-left,
  .btn-right {
    position: absolute;
    cursor: pointer;
    display: inline-block;
  }
  .btn-left {
    left: 5px;
  }
  .btn-right {
    right: 15px;
  }
  .socialIcons {
    display: flex;
    flex-direction: row;
    margin-top: $margin10;
  }
  .icons {
    border-radius: 50%;
    border: 2px solid #2c87ce;
    padding: 10px;
    height: 10px;
    width: 10px;
    margin-right: 15px;
  }
}
