body {
    background-color: #f6f6f6;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info {
    display: flex;
    flex-direction: column;
}
#titleInfo {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #2c303d;
}
#itemNumber{
    font-size: 10px;
    color: #7d7f85;
    font-weight: bold;
}
.prices {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.prices > span:first-child {
    color: #2c303d;
    text-decoration: line-through;
}
.fa-star {
    color: #ababab;
}
.checked {
    color: #ce2c52;
}
#shareButton {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #2c87ce;
}
#descriptionOfStock {
    max-width: 30%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
